<nav class="navbar">
  <a routerLink="/jobs/search" class="navbar-brand"> Freeloncee </a>

  <a routerLink="/jobs/search" routerLinkActive="active" class="nav-link">Jobs</a>

  <ng-container *ngIf="isLoggedIn">
    <a routerLink="/jobs/create" routerLinkActive="active" class="nav-link">New Job</a>
    <a routerLink="/jobs/my-postings" routerLinkActive="active" class="nav-link">My Postings</a>
    <span class="nav-user"> Hello, {{ currentUser?.name }} </span>
    <button (click)="logout()" class="nav-link btn-logout">Logout</button>
  </ng-container>

  <ng-container *ngIf="!isLoggedIn">
    <span class="nav-user"> Not logged in </span>
    <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
    <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>
  </ng-container>
</nav>
